<!doctype html>

<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>EvvvB - Main</title>
    <%- include('partials/header') %>
  </head>
  <!-- Date formatting -->
  <% 
  include ('functions/dateFormat.ejs')
  let date = new Date(data.createdAt);
  let formattedDate = formatDate(date);
  %>

  <body>
    <div class="card">
      <h5 class="card-header"><%= data.title %><i class ="updateDate"><%=formattedDate%></i></h5>

      <div class="card-body">
        <p class="card-text"><%= data.body %></p>
        
        <a href="/update" class="btn btn-outline-secondary">Back</a>

      </div>
    </div>

    <%- include('partials/footer') %>
  </body>

</html>
